/* color.css */
:root {
    --color-white: #FFFFFF;
    --color-primary: #1D1D1D;
    --color-secondary: #464646;
    --color-subcolor: #F5F5F5;
    --color-accent: #FFDC7B;

    --color-about-1:#DEDAFF;
    --color-about-2:#A1FFA6;
    --color-about-3:#FFC3D2;
    --color-about-4:#DEC1FF;

    --color-blue: #0084FF;
    --color-grey: #DDDDDD;
--color-red: #ce2d2dde;
}