/* States.css  */
.is-no-scrolled {
    overflow: hidden;
}
.is-hidden {
    display: none;
}

.m-highlighted-word.is-rotate-one::before {
    transform: rotate(2.12deg);
}

.m-highlighted-word.is-rotate-two::before {
    transform: rotate(1.13deg);
}

.m-highlighted-word.is-rotate-three::before {
    transform: rotate(1.71deg);
}
.m-highlighted-word.is-rotate-none::before {
    transform: rotate(0deg);
}
.l-menu-mobile.is-open {
    opacity: 1;
    pointer-events: all;
}
.m-menu.is-open {
    transform: translateX(0%);
}
.m-portfolio-tab.is-active {
    background-color: var(--color-accent);
}
.m-faq-icon.is-open {
    transform: rotate(45deg);
}
.m-faq-hidden-text.is-open {
    padding: 0 88px 26px 32px;
    opacity: 1;
    transform: translateY(0);
    height: auto;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.l-modal-overlay.is-open {
 opacity: 1;
    pointer-events: all;
}

.m-calculator-add-item-top.is-open::after {
    
    opacity: 1;
    transform: rotate(0deg);
}
@media (max-width:1350px) {
    .m-highlighted-word.is-highighlighted-hidden::before {
        opacity: 0;
    }
}
@media (max-width:1200px) {
   
    .m-faq-hidden-text.is-open {
        padding: 0 32px 26px 32px;
    }
}

@media (max-width:760px) {
    
    .m-faq-hidden-text.is-open {
        padding: 0 12px 16px 16px;
    }
}