@import 'base/_color.css';
@import 'base/_base.css';

@import 'layout/_layout.css';

@import 'modules/_buttons.css';
@import 'modules/_hero.css';
@import 'modules/_header.css';
@import 'modules/_marquee.css';
@import 'modules/_about.css';
@import 'modules/_video.css';

@import 'states/_states.css';

@import 'themes/_theme.css';








@media (max-width:1350px) {
    .m-highlighted-word-double {
        text-wrap: nowrap;
        display: inline-block;
    }

    .m-highlighted-word-double::before {
        opacity: 1;
    }

    .m-highlighted-word.is-rotate-one::before,
    .m-highlighted-word.is-rotate-two::before {
        opacity: 0;
    }
}

@media (max-width:1200px) {
     .l-grid-row {
        gap: 32px;
    }
    .m-nav {
        gap: 16px;
    }

   

    .m-hero-img {
        right: auto;
        left: -32px;
    }

    .m-hero-star {
        width: 700px;
        left: -71px;
        background: url(../img/star.png) 50% / contain no-repeat;
    }

    .m-hero-title {
        font-size: 32px;
        padding: 16px 24px;
    }

    .m-hero-text {
        margin-top: 149px;
        margin-right: 40px;
        max-width: 323px;
        font-size: 20px;
        line-height: 20px;
    }

    .m-about-title {
        font-size: 32px;
    }

}

@media (max-width:1000px) {
    :root {
        --container-padding: 12px;
    }

}

@media (max-width:760px) {
    .l-header {
        position: absolute;
        top: 12px;
        left: 0;
        right: 0;
        z-index: 9;
        padding-top: 0;
    }
     .l-grid-row {
        gap: 20px;
    }
    .l-main {
        margin-top: 12px;
        gap: 60px;
    }
    .m-header-content {
        display: none;
    }
    .m-humburger {
        display: flex;
    }
    .m-hero-content {
        min-height: 410px;
        margin-bottom: 26px;
        border-width: 2px;
        border-radius: 16px;
    }
    .m-hero-img {
        top: 109px;
        left: -53px;
        width: 310.94px;
        height: 325px;
    }
        .m-hero-star {
        top: 69px;
        left: -119px;
        width: 404px;
    }
    .m-hero-bg {
        top: -2px;
        right: -2px;
        left: -2px;
        bottom: -2px;
        border-radius: 16px;
    }
    .m-hero-title {
        font-size: 16px;
        line-height: 20px;
        padding: 10px 16px;
        left: -2px;
        top: -2px;
        border-radius: 16px 0 16px 0;
    }
    .m-hero-text {
        margin-top: 55px;
        max-width: 296px;
        margin-right: auto;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        padding: 0 16px;
    }
    .m-hero-cta {
        font-size: 16px;
        bottom: -2px;
        right: -2px;
        padding: 10px 16px;
        border-radius: 16px 0 16px 0 ;
    }
    .m-marquee-item {
        font-size: 16px;
        line-height: 24px;
    }
    .m-marquee-container {
        padding: 10px 0;
    }
    .m-about-title {
        font-size: 16px;
    }
    .m-highlighted-word::before,
    .m-highlighted-word-double::before {
        border-radius: 4px;
        top: 1px;
        bottom: 1px;
        left: -3px;
        right: -3px;
    }
    .m-video {
        height: 238px;
    }
    .m-video-control {
        gap: 6px;
    }
    .m-video-control-play {
        width: 28px;
        height: 28px;
    }
     .m-video-control-play::after {
        width: 16px;
        height: 16px;
     }
     .m-video-text {
        font-size: 12px;
        line-height: 20px;
     }
}